<td>
    {{ recipe.name }}
</td>
<td>
    {{ recipeCategory(recipe.category) }}
</td>
<td>
    {{ recipe.description }}
</td>
<td>
    <button (click)="edited()" type="button" class="btn btn-sm btn-warning">Edit!</button>
</td>
<td>
    <button (click)="deleted()" type="button" class="btn btn-sm btn-danger">Delete!</button>
</td>