<div *ngIf="authError" class="alert alert-danger" role="alert">
    {{ authError }}
</div>
<div class="container text-center">
    <form [formGroup]="recipeForm"  (ngSubmit)= "createRecipe()">
        <div class="form-group"   >
            <input
            formControlName="name"
            [class.is-invalid]="recipeForm.get('name')?.invalid && recipeForm.get('name')?.dirty && recipeForm.get('name')?.touched"
            type="input" placeholder="Name" class="form-control" >
            <div class="invalid-feedback text-left">
            il faut mininmum 3 lettres
            </div>
        </div>

        <div class="form-group">
            <select
            formControlName="category"
                class="form-control" >
                <option value="0" selected>breakfast</option>
                <option value="1" >lunch</option>
                <option value="2" >diner</option>
            </select>
        </div>

        <div class="form-group">
            <input
            formControlName="description"
            [class.is-invalid]="recipeForm.get('description')?.invalid && recipeForm.get('description')?.dirty && recipeForm.get('description')?.touched"
            type="input" placeholder="description" class="form-control">
            <div class="invalid-feedback text-left">
            il faut mininmum 5 lettres
            </div>
        </div>

        <button  [disabled]="recipeForm.invalid" class="btn btn-success btn-block" type="submit">Create</button>


        <button class="btn btn-outline-secondary btn-block mt-4" type="reset" role="button">Cancel</button>
    </form>
</div>

