<div class="mt-4" >
  </div>
  <button [routerLink]="['/recipe/new']" class="btn btn-outline-success btn-block mt-4" role="button">New recipe</button>
    <div class="container text-center">
        <app-recipe-list></app-recipe-list>
    </div>
    
