<div *ngIf="recipes.length == 0; else showTable">
    No recipe !
  </div>
  <ng-template #showTable>
    <!-- https://getbootstrap.com/docs/4.5/content/tables/#hoverable-rows -->
  
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <td>
                    NOM  
                </td>
                <td>
                    Category
                </td>
                <td>
                  Description  
                </td>
                <td></td>
            </tr>
        </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes" app-recipe-list-item [recipe]="recipe" (recipeEdited)="recipeEdited($event)" (recipedeleted)="recipedeleted($event)"></tr>
      </tbody>
    </table>
  </ng-template>