<div class="container text-center">
    <div class="row mt-2">
        <div class="col-10 offset-1">
            <form [formGroup]="signupForm"  (ngSubmit)= "signUp()">
                <div class="form-group"   >
                    <input
                    formControlName="email"
                    [class.is-invalid]="signupForm.get('email')?.invalid && signupForm.get('email')?.dirty && signupForm.get('email')?.touched"
                    type="email" placeholder="Email" class="form-control" >
                  <div class="invalid-feedback text-left">
                    {{ uniqueEmailError || 'Email must be valid.' }}
                  </div>
                </div>

                <div class="form-group">
                    <input
                    formControlName="password"
                    [class.is-invalid]="signupForm.get('password')?.invalid && signupForm.get('password')?.dirty && signupForm.get('password')?.touched"
                    type="password" placeholder="Password" class="form-control" >
                  <div class="invalid-feedback text-left">
                    Password must be at least 3 characters long.
                  </div>
                </div>

                <div class="form-group">
                    <input
                    formControlName="passwordConfirmation"
                    [class.is-invalid]="signupForm.errors?.passwordConfirmationMustMatch && signupForm.get('passwordConfirmation')?.dirty && signupForm.get('passwordConfirmation')?.touched"
                    type="password" placeholder="Password confirmation" class="form-control">
                  <div class="invalid-feedback text-left">
                    Password and confirmation must match.
                  </div>
                </div>

                <button [disabled]="signupForm.invalid" class="btn btn-success btn-block" type="submit">Create my account</button>

                <a [routerLink]="['/']" class="btn btn-outline-secondary btn-block mt-4" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div>